.un-active {
  display: none;
}

.box-login {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.sub-form {
  min-height: 500px;
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 48px 40px 36px;

  .logo,
  .title-form {
    text-align: center;
    h1 {
      color: #202124;
      font-size: 24px;
      padding-top: 16px;
      font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
      font-weight: 400;
      line-height: 1.3333;
      margin-bottom: 8px;
    }
    span {
      color: #202124;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.1px;
      line-height: 1.5;
    }
  }

  .form-login {
    margin-top: 38px;
    .form-in {
      font-size: 17px;
      margin: 1px 1px 0 1px;
      padding: 15px;
      z-index: 1;
      cursor: pointer;
    }
    .user-email-me {
      margin-top: 8px;
      button {
        border-radius: 4px;
        display: inline-block;
        outline: 0;
        background-color: transparent;
        cursor: pointer;
        font-size: inherit;
        text-align: left;
        border: 0;
        span {
          margin: -2px -3px;
          padding: 2px 3px;
          font-weight: 500;
          letter-spacing: 0.25px;
          color: #1a73e8;
        }
      }

      .find-out-more {
        padding: 2px 0;
        p {
          color: #5f6368;
          font-size: 15px;
          line-height: 1.4286;
          margin-top: 32px;
          b {
            color: #1a73e8;
          }
        }
      }
    }
  }

  .btn-login-next {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    align-items: center;
    position: relative;

    .box-option-create {
      position: absolute;
      z-index: 8;
      top: 40px;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      left: 0px;
      max-height: 131.337px;
      border-radius: 4px;
      width: 100%;
      background-color: #fff;
      overflow-y: auto;
      ul {
        list-style: none;
        padding: 10px 0;
        li {
          padding-left: 16px;
          padding-right: 16px;
          height: 48px;
          line-height: 48px;
          //   letter-spacing: .00625em;

          a {
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .btn-next {
    background-color: var(--gm-fillbutton-container-color, rgb(26, 115, 232));
    padding: 0 24px 0 24px;
    border: none;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.0107142857em;
    font-weight: 500;
    box-shadow: none;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    span {
      color: #fff;
    }
    &:hover {
      box-shadow: 0 1px 2px 0
          var(--gm-fillbutton-keyshadow-color, rgba(60, 64, 67, 0.3)),
        0 1px 3px 1px
          var(--gm-fillbutton-ambientshadow-color, rgba(60, 64, 67, 0.15));
      background-color: #1b66c9;
    }
  }

  .btn-login {
    // font-size: 14px;
    background-color: transparent;
    height: 36px;
    border-radius: 4px;
    padding: 0 8px 0 8px;
    margin: 8px -8px 0;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #f6fafe;
    }
    span {
      color: var(--gm-colortextbutton-ink-color, rgb(26, 115, 232));
      letter-spacing: 0.0107142857em;
      font-weight: 600;
      text-transform: none;
      font-size: 14px;
    }
  }
}

.footer {
  height: 40px;
  margin: 8px 0 16px 0;
  position: relative;
  //   padding: 48px 40px 36px;
  .list-language {
    position: absolute;

    ul {
      list-style: none;
      font-size: 12px;
      margin: 0 -16px;
      background-color: #fff;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      max-height: 280px;
      position: absolute;
      bottom: 25px;
      overflow-y: auto;
      width: 184px;
      z-index: 10;
      li {
        padding: 8px 16px;
        color: #000;
        // a {
        // }
      }
    }
  }

  .select-language {
    width: 200px;
    height: 48px;
    p {
      font-size: 14px;
      height: 100%;
      line-height: 48px;
    }
  }

  select::-ms-expand {
    display: none;
  }

  .support-section {
    ul {
      display: flex;
      list-style: none;
      margin: 0 -16px;
      li {
        a {
          font-size: 13px;
          border-radius: 4px;
          color: #3c4043;
          outline: none;
          padding: 15.33333355px 16px;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

//cusstom input
.input-contain {
  position: relative;
  .form-in {
    border-radius: 4px;
    border: 2px solid #e1e3e6;
    color: #202124;
    z-index: 1;
    outline: none;
    width: 100%;
    &:focus {
      border: 2px solid #1a73e8;
    }
  }
  .placeholder-text {
    position: absolute;
    top: 8px;
    left: 16px;
    transition: all 0.1s;
    color: #5f6368;
    font-size: 17px;
    cursor: pointer;
    .text-name {
      margin-top: 8px;
      left: 4px;
      line-height: 16px;
      padding: 0 2px;
    }
  }

  .form-in:focus + .placeholder-text {
    top: -14px;
    left: 4px;
    font-size: 12px;
    color: #1a73e8;
    z-index: 1;
    background-color: #fff;
    //   padding: 0 0.5px;
  }
}

@media (min-width: 0) and (max-width: 449px) {
  .sub-form {
    border: none;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 0;
  }
  .support-section {
    ul {
      margin: 0 !important;
    }
  }
  .select-language {
    margin-left: 20px !important;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  .sub-form {
    border: none;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .footer {
    padding: 48px 40px 36px;

    .support-section {
      ul {
        margin: 0 !important;
      }
    }
    .select-language {
      margin-left: 20px !important;
    }
  }
}

@media (min-width: 601px) {
  .box-login {
    width: 450px;
  }
}
